[package]
name = "yuvxyb"
description = "Direct conversions between YUV (YCbCr) and XYB colorspaces"
version = "0.1.0"
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.65"
av-data = "0.4.1"
num-traits = "0.2.15"
